body {
    margin: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 20% 20% 60%;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: 
    "logo banner nav"
    "main main main"
    "footer footer footer";
}

.box {
    background-color: grey;
    border: solid 1px black;
    text-align: center;
}

.logo { 
    grid-area: logo;
}

.banner { 
    grid-area: banner;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.graph1, .graph2, .graph3 {
    position: relative;
    height: 40vh;
    width: 100%;
    background-color: white;
}

.graph2 > iframe, .graph1 > iframe {
    width: 100%;
    height: 40vh;
    border: none;
}

.data {
    width: 100%;
    border: none;
}

.data.days {
    display: flex;
    justify-content: space-around; 
    width: calc(100% - 125px);
    margin: auto;
    background-color: red;
}

.days > span {
    flex: 1; 
    text-align: center;
    background-color: white;
    font-size: 13px; 
    padding: 5px;  
}

@media (max-aspect-ratio: 1/1) {
    .days > span {
        font-size: 8px;
    }
}

@media (min-aspect-ratio: 1/1) {
    .days > span {
        font-size: 13px;
    }
}
