@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: auto;
    overflow-x: hidden;
    font-family: 'Barlow Condensed';
}

.wrapper {
    margin: auto;
    width: 100vw;
    display: grid;
}

@media (max-aspect-ratio: 1/1) {
    .days > span {
        font-size: 8px;
    }
    .data {
        width: 80%
    }
    .wrapper {
        grid-template-columns: 60% 40%;
        grid-template-rows: 12vh 20vh 150vh 15vh;
        grid-template-areas: 
        "banner nav"
        "sidebar sidebar"
        "main main"
        "footer footer";
    }
}

@media (min-aspect-ratio: 1/1) {
    .days > span {
        font-size: 13px;
    }
    .data {
        width: 100%
    }
    .wrapper {
        grid-template-columns: 60% 20% 20%;
        grid-template-rows: 12vh 150vh 15vh;
        grid-template-areas: 
        "banner nav nav"
        "main main sidebar"
        "footer footer footer";
    }
}

.box {
    border: 1px solid black;
}

.banner { 
    grid-area: banner;
    background-color: #2d93e0;
    display: flex;
    align-items: center;
    border: none;
}

.logo {
    margin-left: 5%;
    height: 75%;
    width: auto;
}

.nav {
    grid-area: nav;
    background-color: #2d93e0;
    display: flex;
    align-items: center;
    border: none;
}

.main {
    grid-area: main;
    background-color: white;
}

.sidebar {
    grid-area: sidebar;
    background-color: #a3daff;
}

.footer {
    grid-area: footer;
    background-color: #2d93e0;
    display: flex;
    align-items: center;
}

.buttons {
    display: inline-flex;
    list-style-type: none;
    width: 100%;
}

.button {
    background-color: #ff8aad;
    text-decoration: none;
    color: black;
    margin: auto;
    padding: 0 3%;
    border-radius: 3px;
    border: solid 4px #ff0c55;
    font-weight: 600;
    font-size: clamp(12px, 2vw, 24px);
    height: 40%;
}

.button:hover {
    background-color: #ffe45e;
}

.location_selection {
    text-align: center;
    background-color: #ffe45e;
}

.location_selection > form {
    padding: 1%;
    scale: 1.5;
}

.location_selection > form > button {
    scale: 0.6;
    margin: 0;
}

.location_selection > form > button:hover {
    background-color: #2d93e0;
}

.location_selection > h1 {
    padding: 1%;
}

.dailyinfo {
    height: 15vh;
    vertical-align: center;
}

.dailyinfo > ul {
    margin: auto;
    height: 15vh;
    background-color: lightblue;
    padding: 0;
}

.dailyinfo > ul > li {
    display: inline-block;
    width: 20%;
    background-color: red;
    margin-left: -0.15%;
    margin-right: -0.15%;
}

iframe {
    height: 40vh;
    width: 100%;
    border: none;
    position: relative;
}

.data {
    border: none;
    width: 100%;
    margin: 0;
    padding: 0; 
}

.data.days {
    display: flex;
    justify-content: space-around; 
    width: calc(100% - 125px);
    margin: auto;
    font-weight: 500;
    background-color:#ffe45e;
}

.days > span {
    flex: 1; 
    text-align: center;
    font-size: 13px; 
    padding: 5px;  
}