@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: auto;
    overflow-x: hidden;
    font-family: 'Barlow Condensed';
}

.wrapper {
    margin: auto;
    width: 100vw;
    display: grid;
}

@media (max-aspect-ratio: 1/1) {
    .days > span {
        font-size: 8px;
    }
    .data {
        width: 80%
    }
    .wrapper {
        grid-template-columns: 60% 40%;
        grid-template-rows: 12vh auto 160vh 15vh;
        grid-template-areas: 
        "banner nav"
        "sidebar sidebar"
        "main main"
        "footer footer";
    }

    .dailyinfo > ul {
        align-items: stretch;
        flex-direction: row;
        padding: 20px;
    }

    .dailyinfo > ul > li {
        text-align: center;
        flex: 1 1 0px;
        font-size: 2vw;
    }

    .location_selection > form {
        scale: 1.2; /*Slightly reduce scale to fit better*/
    }

    .footer_list > li {
        font-size: 2vw;
    }
}

@media (min-aspect-ratio: 1/1) {
    .days > span {
        font-size: 13px;
    }
    .data {
        width: 100%
    }
    .wrapper {
        grid-template-columns: 60% 20% 20%;
        grid-template-rows: 12vh 160vh 15vh;
        grid-template-areas: 
        "banner nav nav"
        "main main sidebar"
        "footer footer footer";
    }

    .dailyinfo > ul {
        flex-direction: column;
        margin: 1vw 1vh;
    }

    .dailyinfo > ul > li {
        text-align: left;
        padding: 1vw;
        font-size: 1wv;
    }
}

.box {
    border: 1px solid black;
}

.banner { 
    grid-area: banner;
    background-color: #2d93e0;
    display: flex;
    align-items: center;
    border: none;
}

.logo {
    margin-left: 5%;
    height: 75%;
    width: auto;
}

.nav {
    grid-area: nav;
    background-color: #2d93e0;
    display: flex;
    align-items: center;
    border: none;
    justify-content: flex-end;
}

.main {
    grid-area: main;
    background-color: white;
}

.sidebar {
    grid-area: sidebar;
    background-color: #ffe45e;
}

.footer {
    grid-area: footer;
    background-color: #2d93e0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1vw
}

.buttons {
    width: 100%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.button {
    background-color: #ff8aad;
    text-decoration: none;
    color: black;
    margin: 3vw;
    padding: 1vh 1vw;
    border-radius: 3px;
    border: solid 4px #ff0c55;
    font-weight: 600;
    font-size: clamp(8px, 2vw, 24px);
    white-space: nowrap;
    list-style: none;
}

.button:hover {
    background-color: #ffe45e;
}

.dailyinfo > ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 1vw;
}

.dailyinfo > ul > li {
    list-style: none;
    background-color: white;
    flex: 1 1 0px;
    border-radius: 5px;
    border: 0.4vw solid #2d93e0;
}

.location_selection {
    text-align: center;
    background-color: #a3daff;
}

.location_selection > form {
    padding: 1%;
    scale: 1.5;
}

.location_selection > form > button {
    scale: 0.6;
    margin: 0;
}

.location_selection > form > button:hover {
    background-color: #2d93e0;
}

.location_selection > h1 {
    padding: 1%;
}

.location_name {
    margin: 0;
}

.dailyinfo > ul {
    background-color: #ffe45e;
}

iframe {
    height: 40vh;
    width: 100%;
    border: none;
    position: relative;
}

.data {
    border: none;
    width: 100%;
    margin: 0;
    padding: 0; 
    text-align: center;
    background-color: #a3daff;
}

.data > ul {
    text-align: center;
    padding: 1% 0;
    margin: 0 auto;
    display: flex;
    list-style-type: none;
    width: calc(100% - 125px);
    font-weight: 500;
    background-color: #a3daff;
    white-space: nowrap;
    justify-content: space-around;
}

.data > ul > li {
    font-size: 1.7vw;
}

.data > .ratings > li {
    padding: 1%;
    border-radius: 3px;
    border: 1px solid black;
}

.bad {
    background-color: rgb(219, 77, 77);
}

.fair {
    background-color: rgb(255, 204, 0);
}

.good {
    background-color: rgb(58, 255, 58);
}

.account_content {
    text-align: left;
    background-color: #a3daff;
    border: 4px solid #2d93e0;
    border-radius: 10px;
    margin: 3vh 20vw 10vh 3vh;
    padding: 5vw;
}

.footer_list {
    margin: 0 10vw;
}




