body {
    margin: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10vh 140vh 15vh;
    grid-template-areas: 
    "banner nav"
    "main main"
    "footer footer";
}

.box {
    background-color: grey;
    border: solid 1px black;
    text-align: center;
}

.banner { 
    grid-area: banner;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
    background-color: white;
}

.footer {
    grid-area: footer;
}

.button {
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 1%;
}

.dailyinfo {
    height: 15vh;
    vertical-align: center;
}

.dailyinfo > ul {
    margin: auto;
    height: 15vh;
    background-color: lightblue;
    padding: 0;
}

.dailyinfo > ul > li {
    display: inline-block;
    width: 20%;
    background-color: red;
    margin-left: -0.15%;
    margin-right: -0.15%;
}

iframe {
    height: 40vh;
    width: 100%;
    border: none;
    position: relative;
}

.data {
    border: none;
}

.data.days {
    display: flex;
    justify-content: space-around; 
    width: calc(100% - 125px);
    margin: auto;
}

.days > span {
    flex: 1; 
    text-align: center;
    font-size: 13px; 
    padding: 5px;  
}

@media (max-aspect-ratio: 1/1) {
    .days > span {
        font-size: 8px;
    }
    .data {
        width: 80%
    }
}

@media (min-aspect-ratio: 1/1) {
    .days > span {
        font-size: 13px;
    }
    .data {
        width: 100%
    }
}
