{% extends 'layout.html' %} 

{% block main_content %}

<div class="location_selection">
    <form action="/" method="POST">
        <label for="locations">Select Location:</label>
        <select name="location" id="locations">
            <option value="tauranga">Tauranga</option>
            <option value="gisborne">Gisborne</option>
            <option value="dunedin">Dunedin</option>
            <option value="christchurch">Christchurch</option>
        </select>
        <button class="button" type="submit">Refresh</button>
    </form>

    <h1 id="location_name" class="location_name"></h1>
    <script>
        // Get location values from app.py
        var location_name = "{{ location_name | safe }}";
        document.getElementById("location_name").innerHTML = location_name;
    </script>
</div>

<div class="data">
    <ul class="days">
        <li>{{ day1 }}</li>
        <li>{{ day2 }}</li>
        <li>{{ day3 }}</li>
        <li>{{ day4 }}</li>
        <li>{{ day5 }}</li>
        <li>{{ day6 }}</li>
        <li>{{ day7 }}</li>
    </ul>

    <ul class="ratings">
        {% for rating in ratings %}
            <li>{{ rating }}</li>
        {% endfor %}
    </ul>
</div>

<div class="data graph1">
    <iframe src="/graph1" scrolling="no"></iframe>
</div>
<div class="data graph2">
    <iframe src="/graph2" scrolling="no"></iframe>
</div>
<div class="data graph3">
    <iframe src="/graph3" scrolling="no"></iframe>
</div>

{% endblock %}