<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="box logo">
            Logo
        </div>
        <div class="box banner">
            Banner
        </div>
        <div class="box nav">
            Nav
        </div>
        <div class="box main">
            <h1>Main</h1>
            <div class="dailyinfo">
                Daily Info
            </div>
            <div class="graph1">
                <iframe src="/data" scrolling="no"></iframe>
            </div>
            <div class="graph2">
                Graph 2
            </div>
            <div class="graph3">
                Graph 3
            </div>
        </div>
        <div class="box footer">
            Footer
        </div>
    </div>
</body>
</html>