<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="wrapper">
    <!-- Content from header.html -->
    <header class="box banner">{% include 'banner.html' %}</header>

    <!-- Content from nav.html -->
    <nav class="box nav">{% include 'nav.html' %}</nav>

    <!-- Main content can be changed -->
    <main class="box main">{% block main_content %}{% endblock %}</main>

    <!-- Side content can be changed -->
    <!--<div class="box sidebar">{% block side_content %}{% endblock %}</div>-->

    <div class="box sidebar">
      <div class="dailyinfo">
        <ul>
            <li>Swell</li>
            <li>Wind</li>
            <li>Wind type</li>
            <li>Tide</li>
            <li>Surf Rating</li>
        </ul>
      </div>
    </div>

    <!-- Content from header.html -->
    <footer class="box footer">{% include 'footer.html' %}</footer>
  </div>
</body>
</html>